h2{
    color: orangered;
}
div.container{
    background-color: lightgreen;
    width: 600px;
    height: 150px;
}
div.box1{
    background: yellow;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 10px;
}

div.box2{
    background: yellow;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 10px;
}
div.box3{
    background: yellow;
    display: inline-block;
    height: 100px;
    width:100px;
    margin: 10px;
}
div.box4{
    background: yellow;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 10px;
}
.inline-block {
    display: inline-block;
    background: blue;
    height: 100px;
    width: 100px;
    margin: 10px;
}
.inline-relative{
    position: relative;
    display: inline-block;
    background: blue;
    height: 100px;
    width: 100px;
    margin: 10px;

    top: 40px;
}
.small-square{
    position: absolute;
    right: 0;
    height: 80px;
    width: 80px;
    background: yellow;
}
.medium-square{
    height: 200px;
    width: 300px;
    background: red;
}
.big-square{
    position: relative;
    height: 400px;
    width: 400px;
    background: deepskyblue;
}
div.fixed{
    position: fixed;
    top: 10px;
    width: 300px;
    padding: 10px;
    background:#73ad21;
}
.sticky{
    position: sticky;
    top: 30px;
    padding:5px;
    background-color: yellow;
    border: solid blue;
}
p.content{
    height: 100px;
}



